################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MFCDragAndDropExample_20200213_1427/x64/Debug
